/* скидання маркерів */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,p {
    margin: 0;
}
/* скидання підкреслень в посиланнях */
a {
  text-decoration: none;
}
img {
    display: block;
}

/* body */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* ===========components */
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}



/* стилі */
.header-container{
    display: flex;
    align-items: center;
    
}

.page-header{
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    
}
.page-navigation{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    gap: 40px;
    
}
.logotype {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-end {
  color: #2e2f42;
}
.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-menu{
    display: flex;
    gap: 40px;
    
}

.contacts-link {
  font-size: 16px;
padding: 24px 0;
    display: block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* MAIN CONTENT */
/* активація кнопок на зміну курсора при наведенні */
button {
  cursor: pointer;
  background: #4d5ae5;
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
border-radius: 4px;border: none;
display: block;
margin: 0 auto;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background: #404bbf;
}
.main-background {
  background-color: #2e2f42;
  padding: 188px 0;
}
.main-head {
    max-width: 496px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* about us */

.made-menu-item-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.made-menu-item-text {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* team */

.wokers-background {
  background-color: #f4f4fd;
}
.wokers-head {
  text-align: center;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.wokers-names {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.wokers-positions {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.wokers-person {
  background-color: #ffffff;
}

/* portfolio */

.works-head {
  text-align: center;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.works-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.works-position {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

.down {
  background-color: #2e2f42;
}
.logo-down {
  color: #f4f4fd;
}
.down-text {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
